* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.header .nombreTitulo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: #ff914d;
}
.header .nombreTitulo .logo {
  width: 150px;
  height: 150px;
  margin: auto;
}
.header .nombreTituloo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 145, 77);
}
.header .nombreTituloo .nombreTituloLista {
  list-style: none;
  color: rgb(0, 0, 0);
}
.header .nombreTituloo .nombreTituloLista .nombre {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 3.5rem;
}
.header .nombreTituloo .nombreTituloLista .descripcion {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2.5rem;
}
.header .nombreTituloo .carrito {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  padding: 15px;
}
.header .nombreTituloo .carrito .carritoImagen {
  padding: 4px;
  width: 40px;
  height: 40px;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
}
main .novedades {
  margin: 0 auto;
}
main .productosCards .cardImg {
  width: 205px;
  height: 310px;
  margin: 0 auto;
}
main .productosCards .imgFigura {
  width: 310px;
  height: 260px;
  margin: 0 auto;
}
main .productosCards .cardTitulo {
  text-align: center;
  font-size: 1.8rem;
}
main .productosCards .cardPrecio {
  text-align: center;
}

.main__mangas .categorias .categorias__titulo {
  font-size: 2.8rem;
}
.main__mangas .categorias .categorias__lista {
  list-style: inside;
  padding: 5px;
}

.main__preguntasFrecuentes .preguntaTitulo {
  text-align: center;
  font-size: 4rem;
  padding: 10px;
}
.main__preguntasFrecuentes .pregunta {
  font-size: 2.6rem;
  text-decoration: underline;
  font-weight: bold;
}
.main__preguntasFrecuentes .respuesta {
  font-size: 1.8rem;
}

footer {
  background-color: #ff914d;
  display: flex;
}
footer .mediosPago .mediosPago__titulo {
  font-size: 2.8rem;
  margin: 10px;
}
footer .mediosPago .mediosPago__imagen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}
footer .mediosPago .mediosPago__imagen .tarjetas {
  height: 85px;
  width: 85px;
  padding: 10px;
  margin: 5px;
}
footer .formasEnvio .formasEnvio__titulo {
  font-size: 2.8rem;
  padding-left: 1.5rem;
}
footer .formasEnvio .formasEnvio__imagen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 1.5rem;
}
footer .formasEnvio .formasEnvio__imagen .transporte {
  height: 85px;
  width: 85px;
  padding: 10px;
  margin: 5px;
}
footer .contactanos .contactanos__titulo {
  font-size: 2.8rem;
  padding-left: 1.5rem;
}
footer .contactanos .contactanos__lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  font-size: 1.5rem;
  padding-left: 1.5rem;
}
footer .redesSociales .redesSociales__titulo {
  font-size: 2.8rem;
  padding-left: 1.5rem;
}
footer .redesSociales .redesSociales__lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  font-size: 1.5rem;
  padding-left: 1.5rem;
}
footer .redesSociales .redesSociales__lista .instagram img {
  width: 10px;
  height: 5px;
}

/*# sourceMappingURL=estilos.css.map */
