* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(252, 252, 252);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.encabezado{
  display: flex;
}
.nombreTitulo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: #ff914d;
}
.nombreTitulo img {
  width: 200px;
  height: 200px;
  margin: auto;
}
.nombreTituloLista {
  list-style: none;
  color: rgb(0, 0, 0);
}
.nombre {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 4rem;
}
.descripcion {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2.7rem;
}
.sesion{
  display: flex;
  justify-content: end;
  flex-direction: row;
}
.header__sesion{
  list-style: none;
  display: flex;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem;
  font-size: 2rem;
}

.header__carrito {
  list-style: none;
  padding: 5px;
}

.header__carrito img {
  list-style: none;
  width: 30px;
  height: 30px;
}

.nav__secciones {
  width: 2560;
  height: 100px;
  margin: 0 auto;
  background-color: rgb(255, 145, 77);
  border-radius: 0px;
  display: flex;
}

.nav__menu {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.7rem;
}

.nav__items {
  color: rgb(255, 0, 0);
  text-decoration: none;
  padding: 0.7rem;
  font-size: 1.8rem;
}

.nav__link {
  color: black;
  text-decoration: none;
  padding: 0.7rem;
}

.nav__link:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 145, 77);
  border-radius: 10%;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
}

.cardImg{
  width: 205px;
  height: 300px;
  margin: 0 auto;
}

.cardTitulo{
  text-align: center;
}

.cardPrecio{
  text-align: center;
}

.novedades {
  margin: 0 auto;
}

.novedades__titulo {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  background-color: rgb(255, 145, 77);
}

.novedades__imagen img {
  display: flex;
  height: 615px;
  width: 1200px;
  padding: 10px;
  justify-content: space-around;
}

.recomendados {
  background-color: rgb(255, 255, 255);
  height: 670px;
  width: 1300px;
}

.recomendados__titulo {
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  background-color: rgb(255, 145, 77);
}

.recomendados__imagen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.recomendados__imagen img {
  height: 300px;
  width: 240px;
  padding: 10px;
  margin: 5px;
}

footer {
  background-color: #ff914d;
  display: flex;
}

.mediosPago__titulo {
  font-size: 1.5rem;
  padding-left: 1.7rem;
}

.mediosPago__imagen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 1.5rem;
}

.mediosPago__imagen img {
  height: 85px;
  width: 85px;
  padding: 10px;
  margin: 5px;
}

.formasEnvio__titulo {
  font-size: 1.7rem;
  padding-left: 1.5rem;
}

.formasEnvio__imagen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 1.5rem;
}

.formasEnvio__imagen img {
  height: 85px;
  width: 85px;
  padding: 10px;
  margin: 5px;
}

.contactanos__titulo {
  font-size: 1.7rem;
  padding-left: 1.5rem;
}

.contactanos__lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  font-size: 1.5rem;
  padding-left: 1.5rem;
}

.redesSociales__titulo {
  font-size: 1.7rem;
  padding-left: 1.5rem;
}

.redesSociales__lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  font-size: 1.5rem;
  padding-left: 1.5rem;
}

.main__mangas {
  display: flex;
}

.categorias__titulo {
  font-size: 1.5rem;
}

.categorias__lista {
  list-style: inside;
  padding: 5px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  height: 680px;
  width: 2299px;
  padding: 10px;
  overflow: scroll;
}

.producto__1 {
  text-align: center;
  align-self: center;
  padding: 10px;
  margin: 15px;
}

.producto__1 img {
  height: 250px;
  width: 200px;
}

.producto__nombre {
  font-size: 1.5rem;
  margin: 10px 0;
}

.producto__precio {
  font-size: 1.3rem;
  font-weight: bold;
}

.productos__preventa {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  height: 680px;
  width: 2299px;
  overflow: scroll;
}

.figuras {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  height: 680px;
  width: 2299px;
  overflow: scroll;
}

.preguntasFrecuentes {
  overflow: scroll;
  line-height: 200%;
  height: 680px;
  width: 2600px;
}

.pregunta {
  font-size: 2.6rem;
  text-decoration: underline;
  font-weight: bold;
}

.respuesta {
  font-size: 1.8rem;
}

/*# sourceMappingURL=estilos.css.map */
